.App{
  width: 100vw;
  height: 100vh;
  border: 1px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
}

.element{
  display: flex;
  flex-direction: column;
}

input{
  outline: none;
  padding: 5px;
  outline: 1px solid rgb(177, 177, 177);
  border: none;
}

input:focus{
  
  border: none;
}

label{
  font-weight: 500;
  color: rgb(199, 6, 64);
}

.password-match{
  outline: 1px solid rgb(7, 122, 3);
}

.password-mismatch{
  outline: 1px solid rgb(161, 4, 4);
}